body {
    margin: 0;
    direction: rtl;
    background: #9AECDB;
    overflow-x: hidden;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.lorem {
    width: 60%;
}

.lorem input {
    width: 300px;
    outline: none !important;
    border: none;
}

.lorem input:focus {
    box-shadow: 0 0 6px 1px #58B19F !important;
}

.lorem-text {
    font-size: 14px;
    text-align: justify;
    line-height: 28px;
}